<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="/static/css/suggestion.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/bloodhound.js"></script>


</head>
<body>
<center>
<div id="container">
  <input class="typeahead" type="text" size="400" placeholder="suggestion">
</div>
<hr>
</center>

<pre>

后端:

    golang


前端依赖:

1. jquery-2.1.1.min.js

2. twitter typeahead [github](https://github.com/twitter/typeahead.js/)  [examples](http://twitter.github.io/typeahead.js/examples/)

------------------------------------------------



</pre>


<script>
var bestPictures = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.nonword('value'),
  queryTokenizer: Bloodhound.tokenizers.nonword,
  limit: 10,
  remote: '/suggest/?keyword=%QUERY',
});

bestPictures.initialize();

$('#container .typeahead').typeahead( {
  hint: true,
  highlight: true,
  minLength: 1
}, {
  name: 'best-pictures',
  displayKey: 'value',
  source: bestPictures.ttAdapter(),
});
</script>

</body>
</html>

